% arara: pdflatex: { shell: yes}
% arara: pdflatex: { shell: yes}
% !TEX encoding = UTF-8
% !TEX program = pdflatex
% !TEX spellcheck = en_GB
\documentclass[((* doc_options *))]{europasscv}
\usepackage[english]{babel}
